/*---document objects general----*/

body{
    background-color: black;
}

p{
    color: white;
    font-size: 1.11em;
}

input{
    width: 70px;
}

/*----contents inner body---*/
.block-content{
    display: block;
}

.inner-p-question{
    display: inline-flex;
    width: 1100px;
}

.click-button{
    display: flex;
    justify-content: space-evenly;
    
}